/* ================================
   CONFIGURAÇÕES GERAIS
================================ */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

* {
    font-family: "Dancing Script", cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff9ea;
}

header {
    width: 100%;
    padding: 28px 8%;
}

.btn-default {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffcb45;
    padding: 10 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color .3s ease;
}

.btn-default:hover {
    background-color: #f8d477;
}

#mobile_btn {
    display: none;
}

#mobile_menu {
    display: none;
}
#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#nav_logo {
    font-size: 24px;
    color: #e9a209;
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav-item a {
    text-decoration: none;
    color: #1d1d1d;
    font-weight: 600;
}

.nav-item.active a {
    color: #1d1d1d;
    border-bottom: 3px solid #ffe100;

}

@media screen and (max-width: 1170px) {
    #mobile_btn {
        display: block;
        
    }
}