<nav class="navbar">
    <i class="fa-solid fa-scissors" id="nav_logo">Tesoura</i>

    <ul id="nav_list">
        <li class="nav-item">
            <a href="#home">Início</a>
        </li>
        <li class="nav-item">
            <a href="#services">Serviços</a>
        </li>
        <li class="nav-item">
            <a href="#reviews">Avaliações</a>
        </li>
        
        <button class="btn-default">
            Agende Aqui!
        </button>

        <button>
            <i class="fa-sclid fa-bars"></i>
        </button>
    </ul>

    <div class="mobile_menu">
        <ul id="mobile_nav_list">
            <li class="nav-item">
                <a href="#home">Início</a>
            </li>
            <li class="nav-item">
                <a href="#services">Serviços</a>
            </li>
            <li class="nav-item">
                <a href="#reviews">Avaliações</a>
            </li>
            
            <button class="btn-default">
                Agende Aqui!
            </button>

            <button class="btn-default">
                Agende Aqui!
            </button>

        </ul>
    </div>
</nav>